body {
  font-family: Sans-serif;
  font-size: 14px; }

.content {
  margin-top: 30px; }

h1 {
  font-size: 36px;
  margin-top: -6px;
  margin-bottom: 10px; }

a:hover {
  text-decoration: none; }

.contacts {
  list-style: none;
  margin: 0; }

icon {
  margin-top: 3px; }